<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/styles/style.css" />
    <title>BookWheat</title>
    <link
      rel="shortcut icon"
      href="/static/bookwheatlogo.png"
      type="image/x-icon"
    />
  </head>

  <body>
    <footer class="bg-light text-center text-lg-start fixed-bottom">
      <h1 class="footer-text">hello</h1>
    </footer>
  </body>
</html>
